#bodyID {
    background-image: url('../cookieDough.jpg');
    background-size: 100vw 100vh;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
  }

/* =================SCROLL BAR BEGIN========================== */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
 box-shadow: inset 0 0 5px grey; 
 border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(199, 130, 2, 0.5); 
  box-shadow: inset 0 0 5px rgb(199, 130, 2, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 130, 2, 0.7);
  box-shadow: inset 0 0 5px rgb(199, 130, 2, 0.7);
}
/* ==================SCROLL BAR END========================= */

/* ===================NAVBAR=================================== */
#navbar{
margin: 0;
height: 8vh;
background-color: rgb(255, 255, 255, .8);
padding-top: 2vh;
}

#headerGrid{
    display: grid;
    grid-template-columns: 20vw 45vw 35vw;
    width: 100vw;
}

#buttonsGrid{
    display: grid;
    /* grid-template-columns: 25% 25% 25%; */
    grid-template-columns: 8vw 8vw 8vw;
    width: 100%;
    /* height: 100px; */
    height: 20vh;
    margin-left: 31.5%;
}

#searchLabel{
    color:rgb(0, 0, 0);
    /* font-size: 140%; */
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif; 
    /* margin-top: 10%; */
    margin-top: 1vh;
}

#searchBar{
    /* margin-left: 30%; */
    margin-left: 12vw;
    display: grid;
    /* grid-template-columns: 20% 50% 20%; */
    grid-template-columns: 7vw 12vw 6vw;
    /* width: 400px; */
    width: 30vw;
    /* height: 40px; */
    height: 6vh;
}

#searchButton{
    cursor: pointer;
}

#homeTitle{
    /* font-size: 200%; */
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
}

.homeButtons{
    /* font-size: 125%; */
    font-size: 3.5vh;
    font-family: Arial, Helvetica, sans-serif; 
    border: 4px double white;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    padding: 5%;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: -1.2vh;
}

.homeButtons:hover{
    background-color: rgb(60, 60, 60);
}

/* #aboutBtn{
    transform: translateX(25%);
} */

.dropdown{
  display:none;
}

@media only screen and (max-width: 1270px) {
#headerGrid{
    display: grid;
    grid-template-columns: 15vw 45vw 35vw;
    width: 100vw;
}

  #buttonsGrid {
    display:none;
  }

  #searchBar{
    /* margin-left: 30%; */
    display: grid;
    grid-template-columns: 15% 30% 15% 15%;
    /* width: 600px;
    height: 30px; */
    width: 500px;
    /* width: 75vw; */
    /* height: 40px; */
    height: 6vh;
}
  .dropbtn {
    color: white;
    /* font-size: 250%; */
    font-size: 5vh;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    border: solid white 1px;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(60, 60, 60);
    color: white;
  }
  
  .dropdown {
    /* position: relative; */
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .navOpt{
  padding: 4%;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
  cursor: pointer;
  }
  
  .navOpt:hover{
  background-color: rgb(60, 60, 60);
  }
  
  
  .show {display: block;}
}

/*=========================CENTRAL PAGE TITLE=============================*/

#centralPageTitle{
font-size: 25vh;
color: rgb(88, 52, 23);
font-weight: bold;
font-style: italic;
margin-top: 10%;
margin-left: 15vw;
display: block;
-webkit-text-stroke: 1px rgb(255, 255, 255);
}

/*=========================PUBLIC RECIPES PROMPT BOX===============================*/
#publicRecipesModal{
  display: block;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#publicRecipesListContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#publicRecipesListSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#publicRecipesListTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

 #publicRecipesCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 84%;
    width: 15%;
  }

#numLoggedPublicRecipesMsg{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

#publicRecipesCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }

#publicRecipesInputContents{
    border-radius: 10px;
    height: fit-content;
    max-height: 135px;
    overflow-y: auto;
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(255, 255, 255, .2);
}

.recipeOpt{
  text-align: center;
  border-radius: 4px;
  cursor:pointer;
  font-family: Arial, Helvetica, sans-serif; 
  margin-left:auto;
  margin-right: auto;
  display:block;
  outline:none;
}

.recipeOpt:hover{
  background-color: rgb(255, 255, 255, .5);
  color: rgb(199, 130, 2);
}

.recipeOptBtn{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor:pointer;
  padding: 2%;
  width:100%;
  font-size: 105%;
}

.recipeOptBtn:hover{
  color: rgb(199, 130, 2);
}

.chefName{
    text-align: right;
}

/*==========================RECIPE DOC 2======================================*/

#documentModal{
  display: block;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
}

#documentGrid{
    display: grid;
    grid-template-columns: 45% 2%;
    width: 900px;
    margin-left: 33.5%;
    height: fit-content;
}  

#document{
height: 450px;
width: 350px;
background-color: rgba(255, 255, 255, .9);
border-radius: 10px;
margin-left: auto;
margin-right: auto;
display: block;
padding: 5%;
box-shadow: 1px 1px 20px 1px grey inset;
font-family: Arial, Helvetica, sans-serif;
}

#documentContents{
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: normal;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.recipeDocLabel{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  margin-bottom: 2%;
  margin-top: 2%;
  color: green;
}

.recipeDocTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 140%;
  text-align: center;
  margin-bottom: 5%;
}

#closeRead{
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 85%;
text-align: center;
  border: white 1px solid;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 1px;
  width: fit-content;
  height: fit-content;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#closeRead:hover{
  background-color: rgb(88, 52, 23);
}

.docContents{
  margin-bottom: 5%;
}

/*=========================ABOUT PROMPT BOX===============================*/
#aboutModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#aboutContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400x;
 /* width: 35vw; */
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#aboutSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#aboutTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

 #aboutCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
    /* font-size: 2.2vh; */
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 85%;
  }

#aboutCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#aboutContents{
padding-left: 5%;
padding-right: 5%;
margin-top: 5%;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

/*=========================SIGN UP PROMPT BOX===============================*/
#signupModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#signupFormContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#signupFormSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#signupFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

#signupBtnsGrid{
display: grid;
grid-template-columns: 30% 30%;
grid-gap: 0% 5%;
width: 200px;
margin-left: 66%;
}

#signupSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
   }
  
 #signupCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
  }

#signupSubmitBtn:hover, #signupCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#signupInputContents{
margin-left: 27.5%;
margin-top: 5%;
}

.userInput{
  border-radius: 10px;
  padding: 2px;
}

.inputSpace{
  margin-bottom: 2%; 
}

/*=========================WELCOME PROMPT BOX===============================*/
#welcomeModal{
  display: block;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#welcomeContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#welcomeSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#welcomeTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

 #welcomeCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	  text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 85%;
  }

#welcomeCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#welcomeContents{
padding-left: 5%;
padding-right: 5%;
margin-top: 5%;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin-bottom: 5%;
}

/*=========================LOGIN PROMPT BOX===============================*/
#loginModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#loginFormContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#loginFormSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#loginFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

#loginBtnsGrid{
display: grid;
grid-template-columns: 30% 30%;
grid-gap: 0% 5%;
width: 200px;
margin-left: 66%;
}

#loginSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
  }
  
 #loginCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
  }

#loginSubmitBtn:hover, #loginCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#loginInputContents{
margin-left: 27.5%;
margin-top: 5%;
}
