#bodyID {
    background-image: url('cookieDough.jpg');
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
  }
      /* =================SCROLL BAR BEGIN========================== */
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(255, 255, 255, 0.5); 
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(216, 216, 216, 0.5);
    box-shadow: inset 0 0 5px grey;
  }
  /* ==================SCROLL BAR END========================= */

/* ===================NAVBAR=================================== */
#navbar{
margin: 0;
height: 50px;
background-color: rgb(255, 255, 255, .8);
padding-top: 1%;
}

#headerGrid{
    display: grid;
    grid-template-columns: 20% 30% 50%;
}

#buttonsGrid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap:0 3.5%;
    width: 80%;
    height: 100px;
    margin-left: 39%;
}

#searchLabel{
    color:rgb(0, 0, 0);
    font-size: 140%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 10%;
}

#searchBar{
    margin-left: 40%;
    display: grid;
    grid-template-columns: 20% 50% 20%;
    width: 400px;
    height: 40px;
}

#searchButton{
    cursor: pointer;
}

#userTitle{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
}

.homeButtons{
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif; 
    border: 4px double white;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    padding: 5%;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
}

.homeButtons:hover{
    background-color: rgb(60, 60, 60);
}

#accountBtn{
    transform: translateX(32%);
}

/*=========================CENTRAL PAGE TITLE=============================*/

#centralPageTitle{
font-size: 800%;
color: rgb(88, 52, 23);
font-weight: bold;
font-style: italic;
margin-top: 10%;
margin-left: 18%;
display: block;
-webkit-text-stroke: 1px rgb(255, 255, 255);
}

/*=========================ACCOUNT PROMPT BOX===============================*/
#accountModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#accountContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#accountSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#accountTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

 #accountCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 85%;
  }

#accountCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#accountContents{
padding-left: 5%;
padding-right: 5%;
margin-top: 5%;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

/*--------------Edit Acct Info---------------------*/
.editUserAcctGrid{
    display: grid;
    grid-template-columns: 25% 50% 20%;
    grid-gap: 10% 2%;
    }
    
    #editpasswordbtn, #editusernamebtn, #saveUsernameBtn, #savePasswordBtn, #editEmailBtn, #saveEmailBtn{
       cursor: pointer;
       border-radius: 10px;
       background-color: rgb(0, 0, 0);
       border: 2px double white;
       color: white;
   }
    
    
   #editusernamebtn, #editpasswordbtn, #editEmailBtn{
       text-align: center;
       font-family: arial;
       font-size: 85%;
       padding-top: 2%;
       padding-bottom: 3%;
   }
   
   #saveUsernameBtn, #savePasswordBtn, #saveEmailBtn{
   display: none;
   }

   #editpasswordbtn:hover, #editusernamebtn:hover, #saveUsernameBtn:hover, #savePasswordBtn:hover, #editEmailBtn:hover, #saveEmailBtn:hover{
       background-color: rgb(60, 60, 60);
   }
   
   #editedusername, #editedEmail{
   display:none;
   }
   
   .userInput{
   border-radius: 10px;
   padding: 2px;
   }
   
   .editAcctForm{
   margin-top: 2%;
   }
   
   #newPasswordContainer{
   display: none;
   margin-left: 22.5%;
   }
   
   .inputSpace{
   margin-bottom: 2%; 
   }
   
   #oldPasswordLabel{
   margin-left: 17%;
   }
   
   #newPasswordLabel{
   margin-left: 15%;
   }
   
   #reEnteredNewPWDLabel{
   margin-left: 2%;
   }
   
   /*------Edit Account: Username Lower Half----------------*/
   #uNeditStatusMsg{
   padding-top: 4%;
   padding-bottom: 4%;
   }
   
   #editUNLowerHalf{
   display: none;
   }
   
/*------Edit Account: Email Lower Half----------------*/
    #eMeditStatusMsg{
    padding-top: 4%;
    padding-bottom: 4%;
    }
    
    #editEmailLowerHalf{
    display: none;
    }

   /*-------Edit Account: Delete Account--------------*/
   #orNote{
   padding-top: 4%;
   padding-bottom: 4%;
   text-align: center;
   font-weight: bold;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   }
   
   #deleteAcctGrid{
   display: grid;
   grid-template-columns: 10% 70%
   }
   
   #deleteAcctForm{
   display: grid;
   grid-template-columns: 60% 30%;
   grid-gap: 0 5%;
   }
   
   #deleteAcctBtn{
   cursor: pointer;
       border-radius: 10px;
       background-color: rgb(0, 0, 0);
       border: 2px double white;
       width: 80%;
       color: white;
   }
   
   #deleteAcctBtn:hover{
   background-color: orange;
   }
   
   #deleteMsgAndConfirmSect{
   display: none;
   }

   .editAcctFieldLabel{
       color: orange;
       font-weight: bold;
   }

/*=========================MY RECIPES PROMPT BOX===============================*/
#myRecipesModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#myRecipesListContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#myRecipesListSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#myRecipesListTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

#myRecipesBtnsGrid{
    display: grid;
    grid-template-columns: 25% 30%;
    grid-gap: 0% 5%;
    width: 200px;
    margin-left: 69%;
    }

 #myRecipesCloseButton, #newRecipe{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
  }

#numLoggedRecipesMsg{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 1%;
}

#myRecipesCloseButton:hover, #newRecipe:hover {
    background-color:rgb(60, 60, 60);
  }

/*=========================NEW RECIPE PROMPT BOX===============================*/
#newRecipeModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#newRecipeContainer{
 margin-left: auto;
 margin-right: auto;
 width: 280px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#newRecipeSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 4%;
height: fit-content;
}

#newRecipeHeaderGrid{
    display: grid;
    grid-template-columns: 12% 75%;
    grid-gap: 0 5%;
}

#newRecipeModalBackBtn{
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 15%;
    padding-left: 15%;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    height: fit-content;
}

#newRecipeModalBackBtn:hover{
    background-color: rgb(60, 60, 60);
}

#newRecipeContents{
padding-left: 5%;
padding-right: 5%;
margin-top: 5%;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

#newRecipeFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

#newRecipeTitle{
   border-radius: 4px;
   width: 96.5%; 
   margin-bottom: 3%;
}

.newRecipeInputs{
    border-radius: 10px;
    margin-bottom: 3%;
}

.textarea{
    resize: none;
    overflow-x:hidden;
    overflow-y:auto;
}

.newRecipeLabel{
font-family: Arial, Helvetica, sans-serif;
color: white;
font-weight: bold;
margin-bottom: 1%;
}

#newRecipeBtnsGrid{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 0 5%;
    width:80%;
    margin-left: 25%;
}

#newRecipeCancelButton{
    margin-left: -7%;
}

.newRecipeBtn{
    cursor: pointer;
       border-radius: 4px;
       background-color: rgb(0, 0, 0);
       border: 1px solid white;
       width: 100%;
       color: white;
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
}

.newRecipeBtnDiv{
    font-size: 85%;
    padding-top: 1.5%;
}

.newRecipeBtn:hover{
       background-color: rgb(60, 60, 60);
}

/*==================DELETE RECIPE CONFIRMATION PROMPT BOX===================*/
#drcModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#drcContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#drcSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#drcTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

#drcContents{
padding-left: 5%;
padding-right: 5%;
margin-top: 5%;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin-bottom: 3%;
}

#drcNameField{
    margin-bottom: 1%;
}

#drcRecipeName{
    font-weight: bold;
    color: orange;
}

#drcDelBtnsGrid{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 0 5%;
    width: 50%;
    margin-left: 32.5%;
}
  
#drcDelBtn:hover{
background-color: orange;
}

.drcBtns{
    cursor: pointer;
       border-radius: 4px;
       background-color: rgb(0, 0, 0);
       border: 1px solid white;
       width: 100%;
       color: white;
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
}

.drcBtnsDiv{
    font-size: 85%;
    padding-top: 1.5%;
}

.drcBtnsDiv:hover{
    background-color: rgb(60, 60, 60);
}
